@import 'base';

%card-holder {
  width: $card-width;
  height: $card-height;
  background-color: $card-bgcolor;
  margin-bottom: 15px;
}

%card-padding-holder {
  box-sizing: border-box;
  padding: 15px;
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0
  }
  100% {
    background-position: 468px 0
  }
}


.loader-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  @extend %card-padding-holder;
}

.loader-item {
  @extend %card-holder;
  @extend %card-padding-holder;
}

.animated-background {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: #eeeeee;
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
  background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  -webkit-background-size: 800px 104px;
  background-size: 800px 104px;
  height: 96px;
  position: relative;
}


.outlined {
  .background-masker {
    border: 1px solid #ddd;
  }

  &:hover {
    .background-masker {
      border: none;
      &:hover {
        border: 1px solid #ccc;
        z-index: 1;
      }
    }
  }
}


.background-masker {
  background: #fff;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &.header-top,
  &.header-bottom,
  &.subheader-bottom {
    top: 0;
    left: 40px;
    right: 0;
    height: 10px;
  }

  &.header-left,
  &.subheader-left,
  &.header-right,
  &.subheader-right {
    top: 10px;
    left: 40px;
    height: 8px;
    width: 10px;
  }

  &.header-left,
  &.subheader-left,
  &.header-right,
  &.subheader-right {
    top: 10px;
    left: 40px;
    height: 8px;
    width: 10px;
  }

  &.header-bottom {
    top: 18px;
    height: 6px;
  }

  &.subheader-left,
  &.subheader-right {
    top: 24px;
    height: 6px;
  }

  &.header-right,
  &.subheader-right {
    width: auto;
    left: 300px;
    right: 0;
  }

  &.subheader-right {
    left: 230px;
  }

  &.subheader-bottom {
    top: 30px;
    height: 10px;
  }

  &.content-top,
  &.content-second-line,
  &.content-third-line,
  &.content-second-end,
  &.content-third-end,
  &.content-first-end {
    top: 40px;
    left: 0;
    right: 0;
    height: 6px;
  }

  &.content-top {
    height: 20px;
  }

  &.content-first-end,
  &.content-second-end,
  &.content-third-end {
    width: auto;
    left: 380px;
    right: 0;
    top: 60px;
    height: 8px;
  }

  &.content-second-line {
    top: 68px;
  }

  &.content-second-end {
    left: 420px;
    top: 74px;
  }

  &.content-third-line {
    top: 82px;
  }

  &.content-third-end {
    left: 300px;
    top: 88px;
  }

}