@import 'base';

//== Badge
//

.badge {
  min-width: 3rem;
  padding: 0 6px;
  margin-bottom: 10px;
  text-align: center;
  font-size: .7rem;
  font-weight: 700;
  line-height: inherit;
  border-radius: 2px;
  color: $badge-color;
  background-color: $badge-bg-color;
  box-sizing: border-box;
  border: solid 1px $badge-border-color;
}
