@import 'base';

.header {
  // flex: 0 64px;
  z-index: 0;
  display: flex;
  width: 100%;
  height: 60px;
  background: $header-bg-color;
}

.brand,
.page-details,
.settings {
  display: flex;
  align-items: center;
}

.brand {
  flex: 0 0 110px;
  order: 0;
  align-items: center;
  justify-content: center;

  .logo {
    text-align: center;
    .text {
      font: 0/0 serif;
      text-shadow: none;
      color: transparent;
    }

    img {
      max-width: 100%;
    }

  }
}

.page-details {
  flex: 1 1 100%;
  order: 1;
  padding: 0 24px;
  overflow: hidden;

  .page-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    line-height: 24px;
  }
}

.settings {
  flex: 0 0 256px;
  order: 2;
  justify-content: flex-end;
}

.menu-button-nav,
.menu-button-filter { display: none; }

@media (max-width: 800px) {

  .brand {
    .logo { display: none; }
  }

  .menu-button-nav,
  .menu-button-filter { display: block; }

  .brand,
  .settings {
    flex: 0 0 64px;
  }

  .page-details {
    padding: 0 24px;
    justify-content: center;
  }

}
